.idea
.classpath
.project
*.iml
target/
.DS_Store
.gitattributes
.settings/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/